In [1]:
import pandas as pd

In [17]:
del_per_df = pd.read_csv('dim_delivery_person_grubhub.csv')
del_per_df.head()

  Delivery_person_ID  Delivery_person_Age  Delivery_person_Ratings
0     AGRRES010DEL01                   34                      4.7
1     BANGRES06DEL02                   28                      4.5
2     MUMBRES12DEL03                   31                      4.8
3     DELHRES08DEL04                   25                      4.3
4     CHENRES15DEL05                   29                      4.6

In [74]:
fog_df = pd.read_csv('fact_orders_grubhub.csv')
fog_df.head()

,order_id,order_date,order_time,order_picked_time,order_type,delivery_duration,weather_condition,road_traffic,is_festival,city_type,Delivery_person_ID,Restaurant_ID
0,0x1001,3/13/22,11:55:00,12:05:00,Meal,12,Windy,High,No,Metropolitan,BANGRES06DEL02,10001
1,0x1002,3/13/22,12:30:00,12:40:00,Snack,15,Sunny,Medium,No,Urban,AGRRES010DEL01,10002
2,0x1003,3/14/22,13:15:00,13:30:00,Meal,18,Cloudy,Low,No,Semi-Urban,MUMBRES12DEL03,10003
3,0x1004,3/14/22,14:00:00,14:08:00,Buffet,10,Sunny,High,Yes,Metropolitan,DELHRES08DEL04,10004
4,0x1005,3/15/22,15:20:00,15:35:00,Meal,14,Rainy,Medium,No,Urban,CHENRES15DEL05,10005

In [30]:
dim_rest_df = pd.read_csv('dim_restaurants_grubhub.csv')
dim_rest_df.head()

   Restaurant_ID  restaurant_name restaurant_cuisine_offered
0          10001  Chun Vegetarian     Asian,Vegan,Vegetarian
1          10002     Pizza Palace          Italian,Fast Food
2          10003      Burger King         American,Fast Food
3          10004        Sushi Bar           Japanese,Seafood
4          10005        Taco Bell          Mexican,Fast Food

In [78]:
# result = fog_df.merge(del_per_df, on='Delivery_person_ID', how='left')
# Check column names
print("Columns in fog_df:", fog_df.columns.tolist())
print("Columns in del_per_df:", del_per_df.columns.tolist())
result = fog_df.merge(del_per_df, on='Delivery_person_ID', how='left')
print(result)

Columns in fog_df: ['order_id', 'order_date', 'order_time', 'order_picked_time', 'order_type', 'delivery_duration', 'weather_condition', 'road_traffic', 'is_festival', 'city_type', 'Delivery_person_ID', 'Restaurant_ID', 'minutes_since_midnight']
Columns in del_per_df: ['Delivery_person_ID', 'Delivery_person_Age', 'Delivery_person_Ratings']
   order_id order_date          order_time order_picked_time order_type  \
0    0x1001    3/13/22 1900-01-01 11:55:00          12:05:00       Meal
1    0x1002    3/13/22 1900-01-01 12:30:00          12:40:00      Snack
2    0x1003    3/14/22 1900-01-01 13:15:00          13:30:00       Meal
3    0x1004    3/14/22 1900-01-01 14:00:00          14:08:00     Buffet
4    0x1005    3/15/22 1900-01-01 15:20:00          15:35:00       Meal
5    0x1006    3/15/22 1900-01-01 16:45:00          17:05:00      Snack
6    0x1007    3/16/22 1900-01-01 18:00:00          18:11:00       Meal
7    0x1008    3/16/22 1900-01-01 19:30:00          19:46:00     Drinks
8    0x1009    3/17/22 1900-01-01 20:15:00          20:34:00       Meal
9    0x1010    3/17/22 1900-01-01 21:00:00          21:13:00     Buffet
10   0x1011    3/18/22 1900-01-01 11:20:00          11:32:00       Meal
11   0x1012    3/18/22 1900-01-01 12:45:00          13:00:00      Snack
12   0x1013    3/19/22 1900-01-01 14:10:00          14:25:00       Meal
13   0x1014    3/19/22 1900-01-01 15:30:00          15:42:00     Drinks
14   0x1015    3/20/22 1900-01-01 16:50:00          17:08:00       Meal
15   0x1016    3/20/22 1900-01-01 18:15:00          18:30:00     Buffet
16   0x1017    3/21/22 1900-01-01 19:40:00          19:55:00       Meal
17   0x1018    3/21/22 1900-01-01 20:25:00          20:40:00      Snack
18   0x1019    3/22/22 1900-01-01 11:00:00          11:14:00       Meal
19   0x1020    3/22/22 1900-01-01 12:30:00          12:48:00     Drinks

    delivery_duration weather_condition road_traffic is_festival  \
0                  12             Windy         High          No
1                  15             Sunny       Medium          No
2                  18            Cloudy          Low          No
3                  10             Sunny         High         Yes
4                  14             Rainy       Medium          No
5                  20             Windy          Low          No
6                  11             Sunny         High          No
7                  16            Cloudy       Medium          No
8                  19             Rainy          Low         Yes
9                  13             Sunny         High          No
10                 12             Windy       Medium          No
11                 15             Sunny          Low          No
12                 17            Cloudy         High         Yes
13                 14             Rainy       Medium          No
14                 18             Windy          Low          No
15                 15             Sunny         High          No
16                 16            Cloudy       Medium          No
17                 13             Rainy          Low         Yes
18                 14             Sunny         High          No
19                 18             Windy       Medium          No

       city_type Delivery_person_ID  Restaurant_ID  minutes_since_midnight  \
0   Metropolitan     BANGRES06DEL02          10001                     715
1          Urban     AGRRES010DEL01          10002                     750
2     Semi-Urban     MUMBRES12DEL03          10003                     795
3   Metropolitan     DELHRES08DEL04          10004                     840
4          Urban     CHENRES15DEL05          10005                     920
5     Semi-Urban     KOLKRES20DEL06          10006                    1005
6   Metropolitan     HYDBRES22DEL07          10007                    1080
7          Urban     PUNERES18DEL08          10008                    1170
8     Semi-Urban     BANGRES06DEL02          10009                    1215
9   Metropolitan     AGRRES010DEL01          10010                    1260
10         Urban      AMDRES25DEL09          10001                     680
11    Semi-Urban    SURATRES30DEL10          10002                     765
12  Metropolitan     JAIPRES35DEL11          10003                     850
13         Urban      LUCRES40DEL12          10004                     930
14    Semi-Urban     CHANRES45DEL13          10005                    1010
15  Metropolitan   KOCHIERES50DEL14          10006                    1095
16         Urban     NAGPRES55DEL15          10007                    1180
17    Semi-Urban     MUMBRES12DEL03          10008                    1225
18  Metropolitan     DELHRES08DEL04          10009                     660
19         Urban     CHENRES15DEL05          10010                     750

    Delivery_person_Age  Delivery_person_Ratings
0                    28                      4.5
1                    34                      4.7
2                    31                      4.8
3                    25                      4.3
4                    29                      4.6
5                    32                      4.9
6                    27                      4.4
7                    30                      4.7
8                    28                      4.5
9                    34                      4.7
10                   26                      4.2
11                   33                      4.8
12                   29                      4.5
13                   31                      4.6
14                   28                      4.7
15                   35                      4.9
16                   24                      4.3
17                   31                      4.8
18                   25                      4.3
19                   29                      4.6

In [79]:
result = result.groupby('city_type',as_index=False).agg(avg_age=('Delivery_person_Age','mean'),avg_rating=('Delivery_person_Ratings','mean')    ).round(2)

In [80]:
result = result.rename(columns={'city_type':'City_Type','avg_age':'Average_Age','avg_rating':'Average_Rating'})
print(result)

      City_Type  Average_Age  Average_Rating
0  Metropolitan         29.0            4.51
1    Semi-Urban         30.5            4.75
2         Urban         29.0            4.53

In [1]:
fog_df['order_datetime'] = pd.to_datetime(
    fog_df['order_date'] + ' ' + fog_df['order_time'], 
    format='%m/%d/%y %H:%M:%S'
)
fog_df['picked_datetime'] = pd.to_datetime(
    fog_df['order_date'] + ' ' + fog_df['order_picked_time'],  # Note: order_picked_time
    format='%m/%d/%y %H:%M:%S'
)
# Step 2: Calculate delivery time in minutes
fog_df['delivery_time_minutes'] = (
    fog_df['picked_datetime'] - fog_df['order_datetime']
).dt.total_seconds() / 60
# Check the result
print(fog_df[['order_id', 'order_datetime', 'picked_datetime', 'delivery_time_minutes']].head())

NameError: name 'pd' is not defined

In [ ]:
# fog_df['total_time'] = (fog_df['order_time'] + fog_df['delivery_duration'] + fog_df['order_picked_time']).dt.total_seconds() / 60
fog_df['order_time'] = pd.to_datetime(fog_df['order_time'], format='%H:%M:%S')
fog_df['minutes_since_midnight'] = (fog_df['order_time'].dt.hour * 60 + fog_df['order_time'].dt.minute
)
print(fog_df['minutes_since_midnight'])

In [4]:

import pandas as pd

df = pd.read_csv('fact_orders_grubhub.csv')

print(df.head())

  order_id order_date order_time order_picked_time order_type  \
0   0x1001    3/13/22   11:55:00          12:05:00       Meal
1   0x1002    3/13/22   12:30:00          12:40:00      Snack
2   0x1003    3/14/22   13:15:00          13:30:00       Meal
3   0x1004    3/14/22   14:00:00          14:08:00     Buffet
4   0x1005    3/15/22   15:20:00          15:35:00       Meal

   delivery_duration weather_condition road_traffic is_festival     city_type  \
0                 42             Windy         High          No  Metropolitan
1                 28             Sunny       Medium          No         Urban
2                 18            Cloudy          Low          No    Semi-Urban
3                 52             Sunny          Jam         Yes  Metropolitan
4                 22             Rainy       Medium          No         Urban

  Delivery_person_ID  Restaurant_ID
0     BANGRES06DEL02          10001
1     AGRRES010DEL01          10002
2     MUMBRES12DEL03          10003
3     DELHRES08DEL04          10004
4     CHENRES15DEL05          10005

In [35]:
# df['total_time'] = (pd.to_datetime(df['order_date'] + ' ' + df['order_picked_time']) - (pd.to_datetime(df['order_date'] + ' ' + df['order_time']) + pd.to_timedelta(df['delivery_duration'], unit='m'))).dt.total_seconds() / 60
df['total_time'] = (pd.to_datetime(df['order_date'] + ' ' + df['order_picked_time']) - (pd.to_datetime(df['order_date'] + ' ' + df['order_time']))) + pd.to_timedelta(df['delivery_duration'], unit='m')
df['total_time'] = df['total_time'].dt.total_seconds() / 60
print(df['total_time'])

0     52.0
1     38.0
2     33.0
3     60.0
4     37.0
5     32.0
6     49.0
7     41.0
8     34.0
9     23.0
10    42.0
11    25.0
12    50.0
13    30.0
14    32.0
15    45.0
16    35.0
17    26.0
18    54.0
19    42.0
20    29.0
21    65.0
22    41.0
23    26.0
24    73.0
25    47.0
26    22.0
27    43.0
Name: total_time, dtype: float64

C:\Users\ksank\AppData\Local\Temp\ipykernel_36552\4029555200.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['total_time'] = (pd.to_datetime(df['order_date'] + ' ' + df['order_picked_time']) - (pd.to_datetime(df['order_date'] + ' ' + df['order_time']))) + pd.to_timedelta(df['delivery_duration'], unit='m')
C:\Users\ksank\AppData\Local\Temp\ipykernel_36552\4029555200.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['total_time'] = (pd.to_datetime(df['order_date'] + ' ' + df['order_picked_time']) - (pd.to_datetime(df['order_date'] + ' ' + df['order_time']))) + pd.to_timedelta(df['delivery_duration'], unit='m')

In [47]:
# 1. Create the COLUMN 'is_late' (True/False)
df['is_late'] = df['total_time'] > 45
# 2. Now this will work because the column exists!
print(f"Total Late Orders: {df['is_late'].sum()}")
# 3. And the grouping will work too
print(df.groupby('road_traffic')['is_late'].mean() * 100)

Total Late Orders: 8
road_traffic
High      100.0
Jam        60.0
Low         0.0
Medium     10.0
Name: is_late, dtype: float64

In [ ]:
is_late = df[df['total_time'] > 45]
print(f"Found {len(is_late)} orders taking longer than 45 minutes.")
print(f"Total Late Orders: {df['is_late'].sum()}")

KeyError: 'is_late'

In [40]:
print(df['road_traffic'].unique())

['High' 'Medium' 'Low' 'Jam']

In [ ]:
import pandas as pd

df = pd.read_csv("dim_restaurants_grubhub_python.csv")
fact_orders = pd.read_csv("fact_orders_grubhub_python.csv")

# 1. Parse string lists
df['restaurant_cuisine_offered'] = df['restaurant_cuisine_offered'].apply(lambda x: x.strip('[]').split(','))

# 2. Explode
df_exploded = df.explode('restaurant_cuisine_offered')
# CLEANUP: Remove whitespace from cuisine names after splitting (surrounding AND internal)
# " Pad Thai " -> "PadThai"
df_exploded['restaurant_cuisine_offered'] = df_exploded['restaurant_cuisine_offered'].str.strip().str.replace(' ', '')

# 3. Merge
df_exploded = pd.merge(df_exploded, fact_orders, on='restaurant_id', how='left')

# --- MISSING STEP: YOU NEED TO COUNT THE ORDERS ---
# You cannot find "Least Popular" without counting them first!
cuisine_counts = df_exploded.groupby(['order_type', 'restaurant_cuisine_offered']).size().reset_index(name='total_orders')

# 4. Sort
# FIX: Use 'cuisine_counts' (the new counted table), not 'df' (the original restaurant table)
# FIX: Typo 'total_orers' -> 'total_orders'
# FIX: Add secondary sort key for consistent ordering
result = cuisine_counts.sort_values(by=["order_type", "total_orders", "restaurant_cuisine_offered"])

# 5. Take Top 3 (which are the least popular because we sorted Ascending by default)
result = result.groupby("order_type").head(3).reset_index(drop=True)

# 6. Format
result.rename(columns={'restaurant_cuisine_offered':'least_popular_cuisines'}, inplace=True)
result = result[['order_type', 'least_popular_cuisines']]

print(result)

In [ ]:
import pandas as pd
import numpy as np

# 1. Load Data
df_cat = pd.read_csv('dim_category_nike_python.csv')
df_prod = pd.read_csv('dim_product_nike_python.csv')

# 2. Merge and Date
df = pd.merge(df_prod, df_cat, on='category_id', how='left')
df['order_year'] = pd.to_datetime(df['order_date'], format='%m/%d/%y').dt.year

# 3. Aggregate (Mean Reviews)
summary = df.groupby(["order_year", "gender", "category_name"])["product_reviews"].mean().reset_index()

# 4. Sort: High Reviews first (Top), Low Reviews last (Bottom)
summary = summary.sort_values(by=['order_year', 'gender', 'product_reviews'], ascending=[True, True, False])

# 5. Logic Loop
results = []
years = sorted(summary['order_year'].unique())

for year in years:
    row = {'order_year': year}
    
    # FIX: Use exact string match for the data ['Men', 'Women']
    # The user wanted columns like "Men_..." and "Woman_..." (Singular 'Woman' per request? or 'Women'?)
    # User prompt said: "Woman_Top_Ctaegory" (sic). 
    # I will map 'Women' (Data) -> 'Woman' (Column Name) to be safe/consistent with request.
    
    gender_map = {'Men': 'Men', 'Women': 'Woman'} 
    
    for g_data, g_col in gender_map.items():
        subset = summary[(summary['order_year'] == year) & (summary['gender'] == g_data)]
        
        if not subset.empty:
            # First item is TOP (Highest Mean)
            row[f'{g_col}_Top_Category'] = subset.iloc[0]['category_name']
            
            # Last item is BOTTOM (Lowest Mean), only if strictly more than 1 item
            if len(subset) > 1:
                row[f'{g_col}_Bottom_Category'] = subset.iloc[-1]['category_name']
            else:
                row[f'{g_col}_Bottom_Category'] = np.nan
        else:
            row[f'{g_col}_Top_Category'] = np.nan
            row[f'{g_col}_Bottom_Category'] = np.nan
            
    # FIX: Append OUTSIDE the inner loop
    results.append(row)

# 6. Create DataFrame
results_df = pd.DataFrame(results)

# 7. Reorder Columns per request
# "order_year, Men_Bottom_Category, Men_Top_Category, Woman_Bottom_Category, Woman_Top_Category"
wanted_cols = ['order_year', 'Men_Bottom_Category', 'Men_Top_Category', 'Woman_Bottom_Category', 'Woman_Top_Category']
results_df = results_df[wanted_cols]

print("--- Final Nike Ranking Report ---")
print(results_df)

--- Final Nike Ranking Report ---
   order_year Men_Bottom_Category Men_Top_Category Woman_Bottom_Category  \
0        2020     Basketball Shoe     Running Shoe         Training Shoe
1        2021        Running Shoe  Basketball Shoe           Tennis Shoe
2        2022           Golf Shoe  Basketball Shoe         Training Shoe

  Woman_Top_Category
0       Running Shoe
1       Running Shoe
2    Basketball Shoe

In [ ]:
def quick_sort(arr):
    if len(arr) <= 1:
        return arr
    pivot = arr[len(arr) // 2]
    print('pivot:', arr)
    left = [x for x in arr if x < pivot]
    print('left:', left)
    middle = [x for x in arr if x == pivot]
    print('middle:', middle)
    right = [x for x in arr if x > pivot]
    print('right:', right)
    return quick_sort(left) + middle + quick_sort(right)

input = [8, 1, 5, 7, 2, 6, 9, 3, 4]
print(quick_sort(input))

IndentationError: unindent does not match any outer indentation level (<string>, line 3)

In [137]:
def all_non_repeat(my_string):
    char_count = {}
    print(char_count)
    for char in my_string:
        char_count[char] = char_count.get(char, 0) + 1
    
    results = []
    for char in my_string:
        if char_count[char] == 2:
            results.append(char)
    return results


my_string = "hello world"
print(all_non_repeat(my_string))

{}
['o', 'o']

In [ ]:
def get_all_non_repeats(my_string):
    char_count = {}
    for char in my_string:
        char_count[char] = char_count.get(char, 0) + 1
    
    result = []
    for char in my_string:
        if char_count[char] == 1:
            result.append(char)
    return result
def first_non_repeat(my_string):
    char_count = {}
    for char in my_string:
        char_count[char] = char_count.get(char, 0) + 1
    
    for char in my_string:
        if char_count[char] == 1:
            return char
    return None
def count_repeats(my_string):
    char_count = {}
    repeat_count = {}
    for char in my_string:
        char_count[char] = char_count.get(char, 0) + 1
    
    for char, count in char_count.items():
        if count > 1:
            repeat_count[char] = count  
    return repeat_count

print(get_all_non_repeats("cantaloupe but it this is a canelope"))
print(first_non_repeat("hello harry scarlet world"))
print(count_repeats("how much wood would a woodchuck chuck if a woodchuck could chuck wood"))
print(count_patterns_in_string("can can, can you do the can can"))

['b', 'h']
y
{'h': 6, 'o': 11, 'w': 6, ' ': 12, 'u': 7, 'c': 10, 'd': 6, 'l': 2, 'a': 2, 'k': 4}
{'c': 5, 'a': 5, 'n': 5, ' ': 7, ',': 1, 'y': 1, 'o': 2, 'u': 1, 'd': 1, 't': 1, 'h': 1, 'e': 1}

In [156]:
def is_palindrome(s):
    s = str(s)
    print(type(s))
    return s == s[::-1]


print(is_palindrome(121))

<class 'str'>
True

In [159]:
def is_palindrome(s):
    s = s.lower()
    s = s.replace(" ", "")
    s = s.replace(",", "")
    s = s.replace(":", "")
    print(s)
    return s == s[::-1] 

print(is_palindrome("A man, a plan, a canal: Panama"))

amanaplanacanalpanama
True

In [175]:
import time

def timeit(func, *args, **kwargs):
    start = time.perf_counter()
    result = func(*args, **kwargs)
    elapsed = time.perf_counter() - start
    print(f"{func.__name__} took: {elapsed:.6f} seconds")
    return result

# Added 'steps' argument to the definition
def stepcount(n, steps):
    if n == 0: return 1
    if n < 0: return 0
    return sum(stepcount(n - s, steps) for s in steps)

def memsteps(n, steps):
    return memsteps_cache(n, steps, {})

def memsteps_cache(n, steps, cache):
    if n == 0: return 1
    if n < 0: return 0
    if n in cache: return cache[n]
    
    # CRITICAL: We must store the result in the cache
    result = sum(memsteps_cache(n - s, steps, cache) for s in steps)
    cache[n] = result
    return result

# Example usage:
steps_to_try = (1, 3, 5)
target = 10 # Try a higher number like 35 to see the massive speed difference!

timeit(stepcount, target, steps_to_try)
timeit(memsteps, target, steps_to_try)

stepcount took: 0.000079 seconds
memsteps took: 0.000027 seconds

47

In [176]:
def is_valid_str(s):
    if s == '()':
        return 1 
    else:
        return 0
    

input = "()"
print(is_valid_str(input))

1

In [180]:
import time
def timecalc(func):
    def wrapper(*args, **kwargs):
        stime = time.perf_counter()
        func(*args, **kwargs)
        etime = time.perf_counter()
        elapsed_time = etime - stime
        print(f"Elapsed time: {elapsed_time:.4f} seconds")
    return wrapper

In [181]:
@timecalc
def testfunc(i, j, k, y=100):
    for i in range(10000):
        if i % 100 == 0:
            print(i)

In [189]:
print(testfunc(1,2,3))

0
100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900
5000
5100
5200
5300
5400
5500
5600
5700
5800
5900
6000
6100
6200
6300
6400
6500
6600
6700
6800
6900
7000
7100
7200
7300
7400
7500
7600
7700
7800
7900
8000
8100
8200
8300
8400
8500
8600
8700
8800
8900
9000
9100
9200
9300
9400
9500
9600
9700
9800
9900
Elapsed time: 0.0021 seconds
None